<a href="https://colab.research.google.com/github/mewadashreya/TV_show_Analytics/blob/main/TV_Shows_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [65]:
import plotly.express as px
import cufflinks
import plotly.graph_objects as gs

In [147]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.offline as pyo

In [67]:
tv_shows_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/tv_shows.csv',index_col=[0])

In [68]:
tv_shows_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5611 entries, 0 to 5610
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            5611 non-null   object
 1   Year             5611 non-null   int64
 2   Age              3165 non-null   object
 3   IMDb             4450 non-null   float64
 4   Rotten Tomatoes  1011 non-null   object
 5   Netflix          5611 non-null   int64
 6   Hulu             5611 non-null   int64
 7   Prime Video      5611 non-null   int64
 8   Disney+          5611 non-null   int64
 9   type             5611 non-null   int64
dtypes: float64(1), int64(6), object(3)
memory usage: 482.2+ KB

In [69]:
tv_shows_data.shape

(5611, 10)

In [70]:
tv_shows_data.head()

              Title  Year  Age  IMDb  ... Hulu  Prime Video  Disney+  type
0      Breaking Bad  2008  18+   9.5  ...    0            0        0     1
1   Stranger Things  2016  16+   8.8  ...    0            0        0     1
2       Money Heist  2017  18+   8.4  ...    0            0        0     1
3          Sherlock  2010  16+   9.1  ...    0            0        0     1
4  Better Call Saul  2015  18+   8.7  ...    0            0        0     1

[5 rows x 10 columns]

In [71]:
tv_shows_data.describe()

              Year         IMDb      Netflix  ...  Prime Video      Disney+    type
count  5611.000000  4450.000000  5611.000000  ...  5611.000000  5611.000000  5611.0
mean   2011.021030     7.113258     0.344145  ...     0.382107     0.032080     1.0
std      11.005116     1.132060     0.475131  ...     0.485946     0.176228     0.0
min    1901.000000     1.000000     0.000000  ...     0.000000     0.000000     1.0
25%    2010.000000     6.600000     0.000000  ...     0.000000     0.000000     1.0
50%    2015.000000     7.300000     0.000000  ...     0.000000     0.000000     1.0
75%    2017.000000     7.900000     1.000000  ...     1.000000     0.000000     1.0
max    2020.000000     9.600000     1.000000  ...     1.000000     1.000000     1.0

[8 rows x 7 columns]

In [72]:
tv_shows_data.IMDb.describe()

count    4450.000000
mean        7.113258
std         1.132060
min         1.000000
25%         6.600000
50%         7.300000
75%         7.900000
max         9.600000
Name: IMDb, dtype: float64

In [73]:
tv_shows_data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5606    False
5607    False
5608    False
5609    False
5610    False
Length: 5611, dtype: bool

In [74]:
print(tv_shows_data.isnull().sum())

Title                 0
Year                  0
Age                2446
IMDb               1161
Rotten Tomatoes    4600
Netflix               0
Hulu                  0
Prime Video           0
Disney+               0
type                  0
dtype: int64

In [75]:
tv_shows_data.dropna(axis=0,how='any').shape

(931, 10)

In [76]:
tv_shows_data.dropna(axis=0,how='any',inplace=True)

In [77]:
print(tv_shows_data.isnull().sum())

Title              0
Year               0
Age                0
IMDb               0
Rotten Tomatoes    0
Netflix            0
Hulu               0
Prime Video        0
Disney+            0
type               0
dtype: int64

In [78]:
tv_shows_data.dtypes

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
type                 int64
dtype: object

## what are the top 10 rated movies according to rotten tomatoes?

In [79]:
tv_shows_data.rename(columns={"Rotten Tomatoes" : "RottenTomatoes"},inplace=True)

In [80]:
tv_shows_data.head()

              Title  Year  Age  IMDb  ... Hulu  Prime Video  Disney+  type
0      Breaking Bad  2008  18+   9.5  ...    0            0        0     1
1   Stranger Things  2016  16+   8.8  ...    0            0        0     1
2       Money Heist  2017  18+   8.4  ...    0            0        0     1
3          Sherlock  2010  16+   9.1  ...    0            0        0     1
4  Better Call Saul  2015  18+   8.7  ...    0            0        0     1

[5 rows x 10 columns]

In [81]:
tv_shows_data['RottenTomatoes'] = tv_shows_data.RottenTomatoes.apply(lambda x : x.replace("%"," ")).astype("int64")

In [82]:
tv_shows_data.head()

              Title  Year  Age  IMDb  ...  Hulu  Prime Video  Disney+  type
0      Breaking Bad  2008  18+   9.5  ...     0            0        0     1
1   Stranger Things  2016  16+   8.8  ...     0            0        0     1
2       Money Heist  2017  18+   8.4  ...     0            0        0     1
3          Sherlock  2010  16+   9.1  ...     0            0        0     1
4  Better Call Saul  2015  18+   8.7  ...     0            0        0     1

[5 rows x 10 columns]

In [83]:
tv_shows_data.head()

              Title  Year  Age  IMDb  ...  Hulu  Prime Video  Disney+  type
0      Breaking Bad  2008  18+   9.5  ...     0            0        0     1
1   Stranger Things  2016  16+   8.8  ...     0            0        0     1
2       Money Heist  2017  18+   8.4  ...     0            0        0     1
3          Sherlock  2010  16+   9.1  ...     0            0        0     1
4  Better Call Saul  2015  18+   8.7  ...     0            0        0     1

[5 rows x 10 columns]

In [84]:
tv_shows_data.RottenTomatoes.dtype

dtype('int64')

In [85]:
tv_shows_data.sort_values(by="RottenTomatoes",ascending=False)

                                     Title  Year  ... Disney+  type
89                                   Fauda  2015  ...       0     1
742        Final Fantasy XIV: Dad of Light  2017  ...       0     1
1972                           Black Books  2000  ...       0     1
2025                          Inside No. 9  2014  ...       0     1
92                               Big Mouth  2017  ...       0     1
...                                    ...   ...  ...     ...   ...
5506                     Marvel's Inhumans  2017  ...       1     1
2540                              Rosewood  2015  ...       0     1
2958  Saved by the Bell: The College Years  1993  ...       0     1
840                             The I-Land  2019  ...       0     1
630                           Another Life  2019  ...       0     1

[931 rows x 10 columns]

In [86]:
#movieratings with "100%" in rottentomatoes?
tv_shows_data[tv_shows_data.RottenTomatoes == 100].count()

Title             95
Year              95
Age               95
IMDb              95
RottenTomatoes    95
Netflix           95
Hulu              95
Prime Video       95
Disney+           95
type              95
dtype: int64

In [87]:
Top10Rotten_Tomatoes = tv_shows_data.sort_values(by="RottenTomatoes",ascending=False).head(10)

In [88]:
Top10Rotten_Tomatoes

                                Title  Year  Age  ...  Prime Video  Disney+  type
89                              Fauda  2015  16+  ...            0        0     1
742   Final Fantasy XIV: Dad of Light  2017   7+  ...            0        0     1
1972                      Black Books  2000   7+  ...            1        0     1
2025                     Inside No. 9  2014  18+  ...            0        0     1
92                          Big Mouth  2017  18+  ...            0        0     1
238       Voltron: Legendary Defender  2016   7+  ...            0        0     1
1981                      Steins;Gate  2011  16+  ...            0        0     1
2414                              Spy  2011   7+  ...            0        0     1
2908               Sherman's Showcase  2019  18+  ...            0        0     1
202                        Soul Eater  2008  16+  ...            0        0     1

[10 rows x 10 columns]

### What are the top 10 movie ratings by IMdB?

In [89]:
### What are the top 10 movie ratings by IMdB?
Top10IMdB = tv_shows_data.sort_values(by="IMDb",ascending=False).head(10)

In [90]:
Top10IMdB

                                 Title  Year  Age  ...  Prime Video  Disney+  type
0                         Breaking Bad  2008  18+  ...            0        0     1
3567                  Band of Brothers  2001  18+  ...            1        0     1
91                          Our Planet  2019   7+  ...            0        0     1
3566                          The Wire  2002  18+  ...            1        0     1
1931                    Rick and Morty  2013  18+  ...            0        0     1
3568                      The Sopranos  1999  18+  ...            1        0     1
9           Avatar: The Last Airbender  2005   7+  ...            0        0     1
15    Fullmetal Alchemist: Brotherhood  2009  18+  ...            0        0     1
3                             Sherlock  2010  16+  ...            0        0     1
3649                       The Planets  2019  all  ...            1        0     1

[10 rows x 10 columns]

### How many movies have a 18+ restriction?

In [93]:
tv_shows_data[tv_shows_data["Age"] == '18+'].count()

Title             376
Year              376
Age               376
IMDb              376
RottenTomatoes    376
Netflix           376
Hulu              376
Prime Video       376
Disney+           376
type              376
dtype: int64

### How many movies from this dataset where made in 2010 and have an IMBD ratings of >=5?

In [94]:
tv_shows_data['Year'].dtype

dtype('int64')

In [97]:
tv_shows_data[(tv_shows_data['IMDb'] >= 5) & (tv_shows_data['Year'] == 2010)].count()

Title             24
Year              24
Age               24
IMDb              24
RottenTomatoes    24
Netflix           24
Hulu              24
Prime Video       24
Disney+           24
type              24
dtype: int64

### How many different age category are there?

In [98]:
Age_group = tv_shows_data.Age.unique()

In [104]:
Age_group

array(['18+', '16+', '7+', 'all', '13+'], dtype=object)

In [105]:
AgeGroups = tv_shows_data.groupby("Age").Title.count()

In [106]:
AgeGroups

Age
13+      3
16+    359
18+    376
7+     177
all     16
Name: Title, dtype: int64

In [118]:
age_grp = tv_shows_data.groupby('Age',as_index=False).agg({'Title':"count"})

In [119]:
age_grp

   Age  Title
0  13+      3
1  16+    359
2  18+    376
3   7+    177
4  all     16

In [125]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import cufflinks as cf
import plotly
import plotly.offline as py
import plotly.graph_objs as go

In [127]:
fig = go.Figure(data = [go.Line(x=age_grp.Age,y = age_grp['Title'])],
                layout_title_text="Number of movies Age_group")
fig.show()

### Graph number of movies categorized by age restrictions by age before 2000 and after 2006?

In [128]:
YearGroups = tv_shows_data.Year.unique()

In [129]:
YearGroups

array([2008, 2016, 2017, 2010, 2015, 2005, 2011, 2013, 2009, 2006, 2019,
       1990, 2014, 2018, 2007, 2003, 2020, 1999, 2012, 1959, 1987, 1966,
       2000, 1995, 1969, 1998, 1993, 1988, 2004, 1992, 2001, 1989, 2002,
       1997, 1991, 1981, 1963, 1978, 1964])

In [130]:
YearGroups.min()

1959

In [131]:
YearGroups.max()

2020

In [132]:
Before2000 = tv_shows_data[(tv_shows_data.Year <= 2000)]

In [134]:
Before2000.count()

Title             60
Year              60
Age               60
IMDb              60
RottenTomatoes    60
Netflix           60
Hulu              60
Prime Video       60
Disney+           60
type              60
dtype: int64

In [135]:
After2000 = tv_shows_data[(tv_shows_data.Year > 2000)]

In [137]:
After2000.count()

Title             871
Year              871
Age               871
IMDb              871
RottenTomatoes    871
Netflix           871
Hulu              871
Prime Video       871
Disney+           871
type              871
dtype: int64

In [ ]:
age_grp = tv_shows_data.groupby('Age',as_index=False).agg({'Title':"count"})

In [138]:
MoviesBefore2000 = Before2000.groupby('Age',as_index=False).agg({'Title':"count"})

In [139]:
MoviesBefore2000

   Age  Title
0  13+      1
1  16+     14
2  18+     13
3   7+     27
4  all      5

In [140]:
MoviesAfter2000 = After2000.groupby('Age',as_index=False).agg({'Title':"count"})

In [141]:
MoviesAfter2000

   Age  Title
0  13+      2
1  16+    345
2  18+    363
3   7+    150
4  all     11

In [ ]:
fig = go.Figure(data = [go.Line(x=age_grp.Age,y = age_grp['Title'])],
                layout_title_text="Number of movies Age_group"),
 fig = go.Figure(data = [go.Line(x=age_grp.Age,y = age_grp['Title'])],
                layout_title_text="Number of movies Age_group"),               
fig.show()

In [144]:
fig = go.Figure(data=[go.Scatter(x=MoviesBefore2000.Age,y=MoviesBefore2000['Title'])])
fig = go.Figure(data=[go.Scatter(x=MoviesAfter2000.Age,y=MoviesAfter2000['Title'])])
fig.show()

In [151]:
fig = go.Figure(
   data=[
     go.Scatter(
         x=MoviesBefore2000.Age,
         y=MoviesBefore2000['Title'],
         mode='lines',
         name='MoviesBefore2000',
         line=dict(
             color='#3498db',
             width=4
         )
     ),
     go.Scatter(
         x=MoviesAfter2000.Age,
         y=MoviesAfter2000['Title'],
         mode='lines+markers',
         name='MoviesAfter2000',
         line=dict(
             color='#f1c40f',
             dash='dash',
             width=4
         )  
     )
   ],
   layout=go.Layout(
       title='Line Chart',
       hovermode='x'
   )
)
fig.show()

https://towardsdatascience.com/plotly-front-to-back-bar-charts-line-charts-2b591d29c6ba